.tweet_list .container {
    max-width: 600px;
}

.tweet_list .container:nth-of-type(n+2) .card {
    margin: 12px 0;
}

#sidebar_right,
#sidebar_left {
    max-width: 300px;
}

#sidebar_right {
    /* position: absolute;
    right: 228px; */
}

aside .card:nth-of-type(n+2) {
    margin: 12px 0;
}

.btn-rounded {
    border-radius: 10rem !important;
}

.border-light2 {
    border-color: #fbfbfb!important;
}

#sidebar_right__wrap {
    position: relative;
}

@media screen and (max-width: 1004px) {
    #sidebar_right {
        display: none;
    }
}